.about{
    min-height:100vh;
    background:#F8F5EF;
    padding:140px 20px 50px;
}

.about-container{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

.about-text{
    flex:1;
}

.about-text span{
    color:#8B5E3C;
    font-weight:bold;
}

.about-text h1{
    font-size:60px;
    color:#8B5E3C;
    margin:20px 0;
}

.about-text p{
    color:#666;
    line-height:2;
}

.about-box{
    flex:1;
    display:flex;
    gap:20px;
}

.info-card{
    flex:1;
    background:white;
    padding:40px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.info-card h2{
    color:#8B5E3C;
    font-size:45px;
}

@media(max-width:768px){

    .about-container{
        flex-direction:column;
        text-align:center;
    }

    .about-text h1{
        font-size:40px;
    }

    .about-box{
        width:100%;
    }
}