.contact{
    min-height:100vh;
    background:#F8F5EF;
    padding:140px 20px 50px;
}

.contact-container{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.contact h1{
    font-size:55px;
    color:#8B5E3C;
}

.contact p{
    color:#666;
    margin-top:15px;
    font-size:18px;
}

.contact-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:50px;
}

.contact-card{
    background:white;
    border-radius:25px;
    padding:35px;
    text-decoration:none;
    color:#444;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.contact-card:hover{
    transform:translateY(-10px);
}

.contact-card span{
    font-size:50px;
}

.contact-card h3{
    margin-top:20px;
    color:#8B5E3C;
}

@media(max-width:768px){
    .contact h1{
        font-size:38px;
    }
}