.courses{
    min-height:100vh;
    background:#F8F5EF;
    padding:140px 20px 50px;
}

.courses h1{
    text-align:center;
    color:#8B5E3C;
    font-size:55px;
}

.courses-container{
    max-width:1200px;
    margin:60px auto 0;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.course-card{
    background:white;
    border-radius:30px;
    padding:40px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.course-card h2{
    color:#8B5E3C;
}

.course-card p{
    color:#666;
    margin:20px 0;
}

.course-card button{
    background:#8B5E3C;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:15px;
    cursor:pointer;
}