.courses{
    min-height:100vh;

    width:90%;
    max-width:1400px;

    margin:auto;

    padding-top:140px;
}

.courses h1{
    text-align:center;
    font-size:60px;
    color:#111827;
    margin-bottom:50px;
}

.courses-container{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:30px;
}

.course-card{
    background:white;

    border-radius:30px;

    padding:40px;

    text-align:center;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.course-card:hover{
    transform:translateY(-10px);
}

.course-card h2{
    color:#111827;
    font-size:35px;
}

.course-card p{
    color:#6b7280;
    margin:25px 0;
}

.course-card button{
    width:100%;

    height:55px;

    border:none;

    border-radius:18px;

    background:#d4a04b;

    color:white;

    font-size:18px;

    cursor:pointer;
}