.header-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    position:absolute;
    top:20px;
    left:0;
    z-index:1000;
}

.navbar{
    width:92%;
    max-width:1550px;

    height:95px;

    background:rgba(255,255,255,.95);

    border-radius:35px;

    padding:0 45px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:
    0 10px 40px rgba(0,0,0,.08);

    backdrop-filter:blur(20px);
}

.logo-box{
    display:flex;
    align-items:center;
    gap:15px;
}

.math-logo{
    font-size:45px;
    font-weight:900;
    color:#d4a04b;
}

.logo-box h2{
    margin:0;
    color:#101828;
}

.logo-box span{
    color:#667085;
}

.nav-links{
    display:flex;
    gap:45px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-links a{
    text-decoration:none;
    color:#111827;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:#d4a04b;
}

.lang-buttons{
    display:flex;
    gap:10px;
}

.lang-buttons button{
    width:55px;
    height:45px;

    border:none;

    border-radius:15px;

    background:#0f172a;

    color:white;

    cursor:pointer;
}

@media(max-width:1100px){

    .nav-links{
        display:none;
    }

    .navbar{
        padding:0 20px;
    }
}