.register{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  radial-gradient(circle at top,#8B5E3C,#2C1E14 70%);

  padding:120px 20px 40px;
}

.register-box{

  width:100%;
  max-width:500px;

  padding:50px;

  border-radius:35px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.1);

  box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

.register-box h1{
  color:white;
  text-align:center;
  font-size:42px;
}

.register-box p{
  color:#d6c7b8;
  text-align:center;
  margin-top:10px;
  margin-bottom:40px;
}

.error-box{

  width:100%;

  background:rgba(255,0,0,.15);

  border:1px solid rgba(255,0,0,.4);

  color:#ffd4d4;

  padding:14px;

  border-radius:15px;

  margin-bottom:25px;

  text-align:center;

  font-size:14px;

  font-weight:600;
}

.input-box{

  position:relative;

  margin-bottom:30px;
}

.input-box::after{

  content:"⌄";

  position:absolute;

  right:20px;
  top:16px;

  color:#d6b08c;

  font-size:24px;

  pointer-events:none;
}

.no-arrow::after{
  display:none;
}

.input-box input,
.input-box select{

  width:100%;
  height:60px;

  background:rgba(30,20,15,0.75);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:20px;

  outline:none;

  padding:0 20px;

  color:white;

  font-size:16px;

  transition:.3s;

  appearance:none;

  -webkit-appearance:none;

  backdrop-filter:blur(12px);

  box-sizing:border-box;
}

.input-box input:focus,
.input-box select:focus{

  border:1px solid rgba(214,176,140,.6);

  box-shadow:0 0 20px rgba(214,176,140,.2);
}

.input-box label{

  position:absolute;

  left:18px;
  top:18px;

  color:#c8b7a5;

  pointer-events:none;

  transition:0.25s ease;

  padding:0 10px;

  border-radius:20px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box select:focus ~ label,
.input-box select:valid ~ label{

  top:-12px;

  left:14px;

  font-size:13px;

  color:#d6b08c;

  background:#2C1E14;

  border:1px solid rgba(214,176,140,.3);
}

.input-box option{

  background:#2C1E14;

  color:white;
}

.register-box button{

  width:100%;
  height:60px;

  border:none;

  border-radius:18px;

  background:#8B5E3C;

  color:white;

  font-size:18px;
  font-weight:bold;

  cursor:pointer;

  transition:.3s;
}

.register-box button:hover{

  transform:translateY(-5px);

  background:#6D472D;

  box-shadow:0 10px 25px rgba(139,94,60,.35);
}

.register-box button:disabled{

  opacity:.6;

  cursor:not-allowed;
}

@media(max-width:768px){

  .register{
    padding:110px 15px 30px;
  }

  .register-box{
    padding:30px 20px;
  }

  .register-box h1{
    font-size:32px;
  }

  .register-box p{
    font-size:14px;
  }

  .input-box input,
  .input-box select{
    height:55px;
    font-size:15px;
  }

  .register-box button{
    height:55px;
    font-size:16px;
  }
}
@media(max-width:768px){

  .register{
    padding-top:280px;
  }

  .register-box{
    padding:30px 20px;
  }

}