.header-wrapper{
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar{
    width: 90%;
    max-width: 1250px;

    height: 72px;

    background: rgba(255,255,255,.95);
    backdrop-filter: blur(12px);

    border-radius: 24px;

    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

/* ================= LOGO ================= */

.logo-box{
    display: flex;
    align-items: center;
    gap: 12px;
}

.math-logo{
    font-size: 46px;
    font-weight: bold;
    color: #8B5E3C;
}

.logo-box h2{
    font-size: 20px;
    color: #222;
    margin: 0;
    line-height: 1.1;
    cursor: pointer;
    transition: .3s;
}

.logo-box h2:hover{
    color: #8B5E3C;
}

.logo-box span{
    display: block;
    font-size: 14px;
    color: #777;
    margin-top: 2px;
}

/* ================= LINKS ================= */

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: .3s;
}

.nav-links a:hover{
    color: #8B5E3C;
}

/* ================= LANG ================= */

.lang-buttons{
    display: flex;
    gap: 10px;
}

.lang-buttons button{
    width: 48px;
    height: 42px;

    border: none;
    border-radius: 14px;

    background: #f3f3f3;
    color: #444;

    cursor: pointer;
    font-weight: bold;

    transition: .3s;
}

.active-lang{
    background: #8B5E3C !important;
    color: #fff !important;
}

.lang-buttons button:hover{
    transform: translateY(-2px);
}

/* ================= MOBILE ================= */

@media (max-width: 992px){

    .navbar{
        width:95%;
        height:auto;
        padding:18px;
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

}